

<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form  py-5 px-4 px-sm-5">
   
      
        <div class="card">
          <div class="card-body">
          <div class="form-group">
              <select class="form-control form-control-lg" id="exampleFormControlSelect1">
              <option value="undefined" selected disabled>State</option>
              <option value={{S.keys}} *ngFor="let S of State;">
                {{S.keys}}</option>
            </select>
          </div>
          <!-- <div class="form-group">
            <label for="exampleFormControlSelect1">Large select</label>
            <select class="form-control form-control-lg" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div> -->
          <div class="form-group">
            <select class="form-control form-control-lg" id="exampleFormControlSelect1">
            <option value="undefined" selected disabled>City</option>
            <option value={{C.name}} *ngFor="let C of City;">
              {{C.name}}</option>
          </select>
        </div>
          <div class="mt-3">
            <a class="btn btn-block btn-info btn-lg font-weight-medium auth-form-btn" routerLink="/dashboard">Search</a>
          </div>
         
         
        
        </div>
      </div>
      </div>
    </div>
  </div>
</div>  